@{
    ViewData["Title"] = "Home";
}

<body>
    <!-- ======= BLOSSOM Section ======= -->
    <div class="blossom">
        <video autoplay muted loop>
            <source src="/images/CherryBlossom.mp4" type="video/mp4" />
        </video>
        <div class="overlay"></div>
        <div class="blossom-content">




            <!-- Banner Start -->
            <section class="section banner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <h2 class="cd-headline clip is-full-width mb-4 ">
                                I provide <br>
                                <span class="cd-words-wrapper text-color">
                                    <b class="is-visible">Design solutions. </b>
                                    <b>Creative Ideas.</b>
                                    <b>Professional Content.</b>
                                </span>
                            </h2>
                            <p>
                                I am currently enrolled in Centriq's Full Stack coding program.
                                <br> This November I start my journey as a Junior Developer. <br>
                                This Website will teach you about me and show you what I have done during my time at Centriq.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Banner End -->
            <!-- Service start -->
            <section class="section service-home border-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="mb-2 ">Skills Learned</h2>
                            <p class="mb-5">Here I will show a few of the languages, frameworks and more that I've learned thus far at Centriq.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="service-item mb-5" data-aos="fade-left">
                                <i class="fa-brands fa-html5"></i>
                                <h4 class="my-3">HTML</h4>
                                <p>Text Goes Here.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="250">
                                <i class="fa-brands fa-css3-alt"></i>
                                <h4 class="my-3">CSS</h4>
                                <p>Text Goes Here.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="450">
                                <i class="fa-solid fa-hashtag"></i>
                                <h4 class="my-3">C#</h4>
                                <p>Text Goes Here.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="550">
                                <i class="fa-brands fa-square-js"></i>
                                <h4 class="my-3">Javascript</h4>
                                <p>Text Goes Here.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="750">
                                <i class="fa-brands fa-microsoft"></i>
                                <h4 class="my-3">Microsoft SQL</h4>
                                <p>Text Goes Here.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-item mb-5" data-aos="fade-left" data-aos-delay="950">
                                <i class="fa-solid fa-infinity"></i>
                                <h4 class="my-3">ASP.NET Core MVC</h4>
                                <p>Text Goes Here.</p>
                                </>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service end -->
            <!-- Banner End -->
            <!-- Below is my fontawesome link for my favicons -->
            <script src="https://kit.fontawesome.com/e8ddeadb44.js" crossorigin="anonymous"></script>


        </div>
    </div>
</body>