

@{
    ViewData["Title"] = "Links";
}

<!-- Page Content-->

	<section class="py-1">
		<div class="container px-1 my-1">
			<div class="text-center mb-1">
				<h1 class="fw-bolder">Centriq Graduates of Fall 2022</h1>
				<p class="lead fw-normal text-muted mb-0">Here you can find all 14 of my classmates from Centriq Training</p>
			</div>
			<div class="container">
				<div class="row text-center">
					<h3 class="p4">My Classmates</h3>
				</div>
			</div>
			
			<div class="container">
				<div class="row justify-content-center">

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/kurtis.jpeg" width="150" height="150" alt="">
							<h5 class="card-title text-center">Kurtis Caldwell</h5>
							<a href="http://www.KurtisCaldwell.com/" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/kurtis-caldwell-b212bb24b/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Brittany.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Brittany Dodd</h5>
							<a href="http://www.BrittanyDodd.net" class="card-link" target="_blank">Website</a>
							<a href="https://www.linkedin.com/in/brittany-dodd-230467249/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Casey.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Casey Brown</h5>
							<a href="http://www.SomethingCachey.com/" class="card-link" target="_blank">Website</a>
							<a href="https://www.linkedin.com/in/Casey-Brown-WD" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Dawson.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Dawson Meier</h5>
						<a href="http://www.DawsonMeierDev.net" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/dawson-meier-b9781a238/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Devin.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Devin Kuhlman</h5>
						<a href="http://www.DevinKuhlman.com" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/devin-kuhlman-9abb87222/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Dylan.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Dylan Poole</h5>
						<a href="http://www.DylanPoole.com" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/dylan-poole-141602241/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Jacquelyn.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Jacquelyn Little</h5>
						<a href="http://www.JacquelynLittle.com" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/jacquelyn-little-937497249" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/John.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">John Walls</h5>
						<a href="http://www.JPWalls.com" class="card-link" target="_blank">Website</a>
							<a href="https://www.linkedin.com/in/john-w-0151b31b3" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Juno.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Juno Lewis</h5>
						<a href="http://www.JLewisInquiry.com" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/juno-lewis-825714247/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Matt.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Matt Jennings</h5>
						<a href="http://www.MatthewJennings.net" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/matt-jennings-9bb1061b2" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>
					
					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Paige.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Paige Scott</h5>
						<a href="http://www.ReadyPaigeOne.com" class="card-link" target="_blank">Website</a>
							<a href="https://www.linkedin.com/in/think-paige-scott" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Sean.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Sean Coyan</h5>
						<a href="http://www.SeanCoyan.com" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/seancoyan/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>
					
					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Storm.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Storm Agnew</h5>
							<a href="http://www.stormycoding.com/" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/storm-agnew-88396224b/" class="card-link">LinkedIn</a>
						</div>
					</div>
					
					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Tanner.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Tanner Lampson</h5>
						<a href="http://www.TannerMatthew.dev" class="card-link" target="_blank">Website</a>
						<a href="https://www.linkedin.com/in/tanner-matthew-dev" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>
					
					<div class="card" style="width: 14rem;">
						<div class="card-body text-center">
							<img src="/images/Classmates/Zach.jpg" width="150" height="150" alt="">
							<h5 class="card-title text-center ">Zach Barkoviak</h5>
							<a href="http://www.ZachBarkoviak.com/" class="card-link" target="_blank">Website</a>
							<a href="https://www.linkedin.com/in/zachary-barkoviak-21b2b8249/" class="card-link" target="_blank">LinkedIn</a>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
