
@{
    ViewData["Title"] = "Portfolio";
}



<section class="section banner pb-0 w-100 h-50">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2>I provide <span class="text-color">Design Solutions.</span> <br>My work is presented here, check them below.</h2>
			</div>
		</div>
	</div>
</section>


   <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>My development projects.</p>
            </div>


            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                @* Personal Site *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                    <img src="~/images/ProjectPersonalSite.png" class="img-fluid" alt="Portfolio Project">
                        <div class="portfolio-info">
                            <h4>Portfolio Site</h4>
                            <p>My portfolio website. Using HTML, CSS, JavaScript, and BootStrap. You are currently navigating this project.</p>
                            <div class="portfolio-links">
                            <a href="https://github.com/CaseyBrownWD/" title="View Code" target="_blank"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of Personal Site *@

                @* Dungeon Application *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/images/ProjectDungeon.png" class="img-fluid" alt="Picture of C# code">
                        <div class="portfolio-info">
                            <h4>Dungeon Application</h4>
                            <p>A simple game created with the fundamentals of C#</p>
                            <div class="portfolio-links">
                            <a href="https://github.com/CaseyBrownWD/PokeDungeonApp" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of Dungeon Application *@


                @* Storefront Application *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/images/ProjectStore.png" class="img-fluid" alt="Store background">
                        <div class="portfolio-info">
                           <h4>Celedon Department Store</h4>
                            <p>An e-commerce site using MVC, HTML, CSS, JavaScript, Bootstrap, C#, LINQ, Entity Framework, and SQL.</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/CaseyBrownWD/" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of storefront *@


                @* ToDo Api *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/images/ProjectToDo.png" class="img-fluid" alt="ToDo project">
                        <div class="portfolio-info">
                            <h4>ToDo Api</h4>
                            <p>A ToDo App made with sql and react api.</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/CaseyBrownWD/" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                @* SAT Administration Tool *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/images/ProjectSAT.png" class="img-fluid" alt="sat screenshot">
                        <div class="portfolio-info">
                            <h4>Schedule Administration Tool</h4>
                            <p>A data-driven schedule administration tool, built using MVC, HTML, CSS, JavaScript, Bootstrap, C#, LINQ, Entity Framework, and SQL.</p>
                            <div class="portfolio-links">
                                <a href="https://github.com/CaseyBrownWD/" target="_blank" title="View Code"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @* End of SAT Administration Tool *@

                @* Final Project *@
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/images/ProjectFinal.png" class="img-fluid" alt="final screenshot">
                        <div class="portfolio-info">
                            <h4>Final Project</h4>
                            <p>
                                We'll Find Out More Soon'
                            </p>
                            <div class="portfolio-links">
                                <a href="https://github.com/CaseyBrownWD/" target="_blank" title="View Code"><i class="bx bx-plus"></i></a> 
                            </div>
                        </div>
                    </div>
                </div>
                @* End of Final Project *@




                @* Add new project above *@


            </div>

        </div>
    </section><!-- End Portfolio Section -->