
@{
    ViewData["Title"] = "Resume";
}


<!-- Banner start -->
<section class="section banner-3">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-12">
				<div class="profile mb-5">
					<img src="../images/about-img.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-7">
				<h2>About Me</h2>
				
				<p class="mb-4"> I'm a 32 years old, born and raise in Independence, MO. I've spent most of my adult life working in a sales driven environment.
					<br />
					<br />					
					One day I woke up and chose to leave behind the career I knew and enroll in Centriq's Full Stack Web Development course. I spent 100+ days straight, living eating and breathing code. I'm able to do full stack web application design, database management, and more. 
					<br />
					<br />
With my heavy background in retail and customer services roles, I often receive praise for my positive 'How can I help?' attitude. I truly value that time in my life because it taught me how to problem solve, work under pressure, be flexible with new responsibilities, take initiative, manage time, and communicate effectively and empathetically with every client.
					<br />
					<br />
I’m hard-working, enthusiastic, and most importantly ready to work.  </p>

				
				<img src="../images/signature.png" alt="" class="img-fluid">
			</div>

			<div class="col-lg-5">
				<ul class="list-unstyled mt-3 mb-5 about-list">
					<li>- Research</li>
					<li>- Design</li>
					<li>- Implement</li>
					<li>- Manage</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- Banner End -->

<!-- About start -->
<section class="section about border-top border-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-5">
				<h3 class="mb-2">Work Experiences.</h3>
			</div>
	
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-info mb-5">
							<span>September 2015 - July 2022</span>
							<h4 class="mb-3 mt-1">Sales Associate at Dillards</h4>
							<p>
								<li> Provided new and returning customers with exceptional care.</li>
								<li> Worked collaboratively in a team environment.</li>
								<li> Completed all point-of-sale procedures, including balancing totals daily.</li>
								<li> Managed all customer relations issues in a gracious manner.</li>
								<li> Mentored new sales associates to contribute to the store’s positive culture.</li>
							</p>
						</div>
						<div class="about-info">
							<span>January 2015 - August 2018</span>
							<h4 class="mb-3 mt-1">Financial Operations Coordinator</h4>
							<p>
								<li> Input paperwork for the processing of fuel transactions.</li>
								<li> Calculated fees and charges for various haulers and customers.</li>
								<li> Assembled and submitted to final bill for fuel.</li>
								<li> Maintained relationships with customers and haulers with accuracy and timeliness.</li>
							</p>
						</div>
					</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About End -->

<!-- Skill Start 
<section class="section skills">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>My skills.</h3>
			</div>

			<div class="col-lg-8">
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
		                <div class="progress-title">Html and CSS</div>
		                	<span class="progress-bar-units ml-auto">80%</span>
	            	</div>
					<div class="progress">
						  <div class="progress-bar" data-percent="80"></div>
					</div>
				</div>
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
		                <div class="progress-title">Javascript</div>
		                	<span class="progress-bar-units ml-auto">90%</span>
	            	</div>
					<div class="progress">
						  <div class="progress-bar" data-percent="90"></div>
					</div>
				</div>
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
		                <div class="progress-title"> C# </div>
		                	<span class="progress-bar-units ml-auto">75%</span>
	            	</div>
					<div class="progress">
						  <div class="progress-bar" data-percent="75"></div>
					</div>
				</div>
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
		                <div class="progress-title">React</div>
		                	<span class="progress-bar-units ml-auto">85%</span>
	            	</div>
					<div class="progress">
						  <div class="progress-bar" data-percent="85"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
 Skill end -->

<!-- Cta Start -->
<section class="section-sm pt-0 cta">
	<div class="container">
		<div class="row align-items-center bg-dark p-5">
			<div class="col-lg-8">
				<h3 class="text-white mb-0">Want to discuss about any project?</h3>
			</div>
			<div class="col-lg-4 text-lg-right mt-5 mt-lg-0">
				<a class="nav-link" href="@Url.Action("Contact", "Home")">Contact Me</a>>
			</div>
		</div>
	</div>
</section>
<!-- Cta ENd -->